
*{
    scroll-behavior: smooth;
}
#navbar{
    position: sticky;
    flex-direction: column;
    align-items: center;
}
#navbar div img{
    height: 4rem;
    width: 5rem
}
#home1{
    margin: 0.5rem;
}
#home1::before{
    content : "";
    background-image:url(img/back4.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    position: absolute;
    /* background-color: violet; */
    top: 0;
    left: 0;
    height: 40rem;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
    }
#menu ul{
    margin-left: 0;
    margin-top: -1rem;
}
#menu ul li{
    margin: 0.01rem;
}
#menu ul li a{
    padding:0.01rem 5rem;
    font-size: 1rem;
}
#search input{
    width: 96vw;
    height: 2rem;
    margin: 0;
    margin-top: 0.5rem;
}

#home1 h1{
    font-size: 1.36rem;
}
#home1 p{
    font-size: 0.9rem;
    margin-top: 0.1rem;
    line-height: 0.9rem;
}

#musb{
    flex-direction: column-reverse;
    padding: 1rem;
    align-items: center;
    background-image: linear-gradient(to top , black ,  rgba(128, 128, 128, 0.493));
}

#fatb{
    flex-direction:column-reverse;
    align-items: center;
    padding: 1rem 1rem ;
    background-image: linear-gradient(to top , black , rgba(128, 128, 128, 0.493));
    
}

.cont div{
    max-width: 100%;
    padding: 0rem 0rem;
}

#proglist{
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
}

#prog h1{
    font-size: 1.5rem;

}

#prog::before{
    content : "";
    /* background-color: rgb(255, 255, 255); */
    background-image:url(img/equipments2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    position: absolute;
    /* background-color: violet; */
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.5;
    }

.list{
    height: 15rem;
    width: 15rem;
}
.list h3{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.list img{
    height: 13rem;
    width: 14rem;
}
#form{
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 50rem;
}
#form1{
    margin: 1rem;
    max-width: 90%;
}
#form div > h1{
    font-size: 1.5rem;
}

#contact h1{
    font-size: 1rem;
}
#phone h4 , #phone p{
    font-size: 0.6rem;
    line-height: 1rem;
}

#social h2{
    font-size: 0.7rem;
}
#social{
    justify-content: left;
}
#social a{
    margin : 0.3rem;
}
.icon{
    /* width: 10px; */
    margin: 2rem;
}
footer{

    padding-top: 1rem;
    height: 16rem;
}
